/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
  -webkit-overflow-scrolling: touch;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}
.scroll-element, .scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scrollbar-inner > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 6px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}

.scrollbar-inner > .scroll-element .scroll-element_track { background-color: transparent; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c6e5ff; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #c6e5ff; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #c6e5ff; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: 0; }


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: 0; }


.is-fixed {
  position: relative !important;
  overflow: hidden !important;
  -webkit-overflow-scrolling: auto;
}

#chatbot * {
  box-sizing: border-box;
}

#chatbot.is-blind {
  display: none !important;
}

#chatbot .chatbot {
  position: fixed;
  right: 30px;
  bottom: 80px;
  overflow: hidden;
  width: 480px;
  padding-top: 30px;
  z-index: 99999;
  transition: width ease-in-out .25s;
}

#chatbot .chatbot-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: visibility ease-in-out .25s, background-color ease-in-out .25s;
  z-index: 99998;
}

#chatbot.is-open .chatbot-dimmer {
  visibility: visible;
  background-color: rgba(0, 0, 0, .6);
}

#chatbot button {
  cursor: pointer;
}

#chatbot .chatbot-header {
  position: relative;
  width: 100%;
  background-color: #0062b1;
  border: 1px solid #0062b1;
  border-radius: 40px;
  transition: border-radius ease-in-out .25s;
  z-index: 10;
  cursor: pointer;
}

#chatbot .chatbot-header .btn-chatbot-open {
  display: block;
  height: 62px;
  padding: 13px 100px 13px 40px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  transition: height ease-in-out .25s;
}

#chatbot.is-open .chatbot-header .btn-chatbot-open {
  height: 40px;
}

#chatbot .chatbot-header .charactor-box {
  position: absolute;
  right: 20px;
  bottom: -1px;
  width: 90px;
  height: 67px;
  background-image: url("../images/chatbot/img_charactor01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#chatbot .chatbot-header .charactor-box img {
  display: block;
}

#chatbot .chatbot-header .btn-chatbot-close {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  padding: 20px;
  background-image: url("../images/chatbot/img_close01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 10px;
  border: 0;
  outline: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#chatbot .chatbot-header .btn-chatbot-close img {
  display: block;
  width: 9px;
}

#chatbot .chatbot-content {
  overflow: hidden;
  visibility: hidden;
  height: 32px;
  padding: 0 20px;
  margin-top: -32px;
  background-color: #fff;
  border: 1px solid #0062b1;
  border-radius: 0 0 50px 50px;
  transition: height ease-in-out .5s, padding ease-in-out .5s, margin-top ease-in-out .5s, border-radius ease-in-out .25s, visibility ease-in-out .5s;
}

#chatbot .profile-box {
  width: 48px;
  height: 48px;
  background-image: url("../images/chatbot/img_profile01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#chatbot .chatbot-info-box::after {
  content: '';
  display: block;
  clear: both;
}

#chatbot .chatbot-info-box .left-box,
#chatbot .chatbot-info-box .right-box {
  float: left;
}

#chatbot .chatbot-info-box .right-box {
  width: calc(100% - 60px);
  margin-left: 12px;
}

#chatbot .chatbot-info-box .right-box p {
  position: relative;
  padding: 15px 20px;
  color: #232323;
  background-color: #e9e9e9;
  border-radius: 5px;
}

#chatbot .chatbot-info-box .right-box p::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -5px;
  display: block;
  width: 9px;
  height: 9px;
  background: #e9e9e9;
  transform: rotate(135deg) skew(20deg, 20deg);
  border-radius: 0 0 3px 0;
}

#chatbot .chatbot-info-box p {
  color: #555;
  font-size: 14px;
}

#chatbot .chatbot-topic-list {
  position: relative;
  margin-top: 20px;
  transition: bottom ease-in-out .5s;
}

#chatbot .chatbot-topic-list ul::after {
  content: '';
  display: block;
  clear: both;
}

#chatbot .chatbot-topic-list li {
  float: left;
  width: calc(50% - 7px);
  background-color: #f9f9f9;
  border: 1px solid #b3b3b3;
  background-position: center right 10px;
  background-repeat: no-repeat;
}

#chatbot .chatbot-topic-list li:hover {
  border-color: #0062b1;
}

#chatbot .chatbot-topic-list li.chatbot-topic-program {
  background-image: url("../images/chatbot/ico_chatbot01.png");
}

#chatbot .chatbot-topic-list li.chatbot-topic-promotion {
  background-image: url("../images/chatbot/ico_chatbot02.png");
}

#chatbot .chatbot-topic-list li.chatbot-topic-location {
  background-image: url("../images/chatbot/ico_chatbot03.png");
}

#chatbot .chatbot-topic-list li.chatbot-topic-events {
  background-image: url("../images/chatbot/ico_chatbot04.png");
}

#chatbot .chatbot-topic-list li.chatbot-topic-franchise {
  background-image: url("../images/chatbot/ico_chatbot05.png");
}

#chatbot .chatbot-topic-list li.chatbot-topic-others {
  background-image: url("../images/chatbot/ico_chatbot06.png");
}

#chatbot .chatbot-topic-list li a {
  display: table;
  width: 100%;
  height: 60px;
  padding: 0 16px;
}

#chatbot .chatbot-topic-list li:nth-child(even) {
  margin-left: 14px;
}

#chatbot .chatbot-topic-list li:nth-child(n+3) {
  margin-top: 14px;
}

#chatbot .chatbot-topic-list li span {
  display: table-cell;
  vertical-align: middle;
  color: #0062b1;
  font-weight: 500;
  font-size: 16px;
  padding-left: 14px;
  text-indent: -14px;
  line-height: 1.2;
}

#chatbot .scroll-wrapper {
  overflow: hidden;
  -ms-overflow-style: none;
  overflow: auto;
  width: calc(100% + 15px);
  height: 74px;
  padding-right: 15px !important;
  transition: height ease-in-out .25s;
  -webkit-overflow-scrolling: auto;
}

#chatbot .scroll-wrapper.is-open {
  height: 375px;
}

#chatbot .scrollbar-inner > .scroll-element.scroll-x {
  display: none;
}

#chatbot .scroll-content {
  overflow-x: hidden !important;
  margin-right: 0 !important;
}

#chatbot .chatbot-faq-list {
  display: none;
}

#chatbot .scroll-wrapper.is-open .chatbot-faq-list {
  display: block;
  margin-top: 20px;
}

#chatbot .chatbot-faq-list .depth-1 {
  padding-bottom: 300px;
}

#chatbot .chatbot-faq-list .depth-1 > li {
  margin-bottom: 50px;
}

#chatbot .chatbot-faq-list .depth-2 {
  margin-top: 10px;
}

#chatbot .chatbot-faq-list .depth-2 > li + li {
  margin-top: 10px;
}

#chatbot .chatbot-faq-list .depth-2 .chatbot-question {
  position: relative;
  display: block;
  padding: 10px 35px 10px 10px;
  color: #0062b1;
  font-weight: 500;
  line-height: 1.3;
  border: 1px solid #0062b1;
  border-radius: 3px;
}

#chatbot .chatbot-faq-list .depth-2 .chatbot-question::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 14px;
  width: 12px;
  height: 8px;
  background-image:url("../images/chatbot/ico_arrow01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transform: translateY(-50%) rotate(-180deg);
}

#chatbot .chatbot-faq-list .depth-2 > li.is-open .chatbot-question::after {
  transform: translateY(-50%) rotate(0);
}

#chatbot .chatbot-faq-list .depth-3::after {
  content: '';
  display: block;
  clear: both;
}

#chatbot .chatbot-answer-box {
  margin-top: 20px;
}

#chatbot .chatbot-answer-box::after {
  content: '';
  display: block;
  clear: both;
}

#chatbot .chatbot-answer-box .left-box,
#chatbot .chatbot-answer-box .right-box {
  float: left;
}

#chatbot .chatbot-answer-box .right-box {
  width: calc(100% - 60px);
  margin-left: 12px;
}

#chatbot .chatbot-answer-box .chatbot-answer {
  position: relative;
  padding: 10px 25px;
  color: #232323;
  font-size: 14px;
  background-color: #e9e9e9;
  border-radius: 5px;
}

#chatbot .chatbot-answer-box .chatbot-answer::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -5px;
  display: block;
  width: 9px;
  height: 9px;
  background: #e9e9e9;
  transform: rotate(135deg) skew(20deg, 20deg);
  border-radius: 0 0 3px 0;
}

#chatbot .chatbot-answer-box .chatbot-answer a {
  color: #232323;
  text-decoration: underline;
}

#chatbot .chatbot-answer-box .chatbot-refer {
  padding: 10px 25px 10px 25px;
  font-size: 14px;
}

#chatbot .chatbot-faq-list .depth-1 > li.Location .chatbot-refer {
  display: none;
}

#chatbot .chatbot-answer-box .chatbot-refer a {
  color: #e72410;
  text-decoration: underline;
}

#chatbot .chatbot-keyword-box::after {
  content: '';
  display: block;
  clear: both;
}

#chatbot .chatbot-keyword-box .chatbot-keyword {
  position: relative;
  display: block;
  float: right;
  padding: 8px 30px;
  margin-right: 8px;
  background-color: #0062b1;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
}

#chatbot .chatbot-keyword-box .chatbot-keyword::after {
  content: '';
  position: absolute;
  top: 15px;
  right: -5px;
  display: block;
  width: 9px;
  height: 9px;
  background: #0062b1;
  transform: rotate(135deg) skew(20deg, 20deg);
  border-radius: 3px 0 0 0;
}

#chatbot.is-open .chatbot-header {
  border-radius: 20px 20px 0 0;
}

#chatbot.is-open .chatbot-header .btn-chatbot-open {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  cursor: default;
}

#chatbot.is-open .chatbot-header .charactor-box {
  display: none;
}

#chatbot.is-open .chatbot-content {
  visibility: visible;
  height: 660px;
  padding: 25px;
  margin-top: 0;
  border-top-width: 0;
  border-radius: 0 0 20px 20px;
}

#chatbot.is-close .chatbot {
  width: 124px;
}

#chatbot.is-close .chatbot-header .btn-chatbot-close {
  display: none;
}

@media (max-width: 625px) {
  #chatbot.mobile .chatbot {
    right: 15px;
    bottom: 83px;
    width: 90%;
    max-width: 450px;
    transition: width ease-in-out .25s, bottom ease-in-out .25s, right ease-in-out .25s, padding-top ease-in-out .25s;
    user-select: none;
  }

  #chatbot.mobile.is-open .chatbot {
    position: fixed;
    width: 100%;
    max-width: none;
    bottom: 0;
    right: 0;
    padding-top: 0;
  }

  #chatbot.mobile.is-close .chatbot {
    width: 100px;
  }

  #chatbot.mobile .chatbot-header .btn-chatbot-open {
    height: 48px;
  }

  #chatbot.mobile.is-open .chatbot-header .btn-chatbot-open {
    height: 40px;
  }

  #chatbot.mobile.is-open.is-absolute .chatbot {
    position: absolute;
    top: 0;
  }

  #chatbot.mobile.is-open .chatbot-header {
    border-radius: 0;
  }

  #chatbot.mobile.is-open .chatbot-content {
    height: calc(100vh - 40px);
    padding: 20px 15px;
    border-radius: 0;
  }

  #chatbot.mobile .scroll-content {
    width: calc(100% + 100px) !important;
  }

  #chatbot.mobile .chatbot-faq-wrapper {
    width: calc(100% - 100px);
  }

  #chatbot.mobile .scroll-y {
    width: 4px;
    right: 6px;
  }

  #chatbot.mobile .chatbot-header .btn-chatbot-open {
    display: table-cell;
    padding: 8px 90px 8px 35px;
    font-size: 14px;
  }

  #chatbot.mobile .chatbot-topic-list li span {
    font-size: 15px;
  }

  #chatbot.mobile .chatbot-topic-list li {
    background-size: 32px;
  }

  #chatbot.mobile .scroll-wrapper.is-open {
    overflow-y: scroll !important;
  }

  #chatbot.mobile .chatbot-faq-list .depth-1 {
    padding-bottom: 50vh;
  }

  #chatbot.mobile .chatbot-topic-list li.chatbot-topic-program {
    background-image: url("../images/chatbot/ico_chatbot01_m.png");
  }

  #chatbot.mobile .chatbot-topic-list li.chatbot-topic-promotion {
    background-image: url("../images/chatbot/ico_chatbot02_m.png");
  }

  #chatbot.mobile .chatbot-topic-list li.chatbot-topic-location {
    background-image: url("../images/chatbot/ico_chatbot03_m.png");
  }

  #chatbot.mobile .chatbot-topic-list li.chatbot-topic-events {
    background-image: url("../images/chatbot/ico_chatbot04_m.png");
  }

  #chatbot.mobile .chatbot-topic-list li.chatbot-topic-franchise {
    background-image: url("../images/chatbot/ico_chatbot05_m.png");
  }

  #chatbot.mobile .chatbot-topic-list li.chatbot-topic-others {
    background-image: url("../images/chatbot/ico_chatbot06_m.png");
  }

  #chatbot.mobile .chatbot-topic-list li a {
    height: 50px;
    padding: 0 12px;
  }

  #chatbot.mobile .profile-box {
    width: 40px;
    height: 40px;
    background-image: url("../images/chatbot/img_profile01_m.png");
  }

  #chatbot.mobile .chatbot-faq-list .depth-2 .chatbot-question::after {
    width: 11px;
    height: 7px;
    background-image: url("../images/chatbot/ico_arrow01_m.png");
  }

  #chatbot.mobile .chatbot-header .charactor-box {
    width: 71px;
    height: 53px;
    background-image: url("../images/chatbot/img_charactor01_m.png");
  }

  #chatbot.mobile .chatbot-header .btn-chatbot-close {
    width: 31px;
    height: 31px;
    background-image: url("../images/chatbot/img_close01_m.png");
    background-size: 11px;
  }

  #chatbot.mobile.is-open .chatbot-header .btn-chatbot-close {
    right: 0;
    left: auto;
  }

  #chatbot.mobile .chatbot-info-box .right-box,
  #chatbot.mobile .chatbot-answer-box .right-box {
    width: calc(100% - 52px);
  }

  #chatbot.mobile .chatbot-keyword-box .chatbot-keyword::after {
    top: 12px;
  }
}

@media (max-width: 320px) {
  #chatbot.mobile .chatbot-header .btn-chatbot-open {
    height: 44px;
    font-size: 12px;
  }

  #chatbot.mobile .chatbot-header .charactor-box {
    right: 15px;
  }

  #chatbot .scroll-wrapper {
    height: 58px;
  }

  #chatbot .chatbot-info-box .right-box p {
    padding: 10px;
    font-size: 12px;
  }

  #chatbot .chatbot-keyword-box .chatbot-keyword {
    font-size: 14px;
  }

  #chatbot .chatbot-answer-box .chatbot-answer,
  #chatbot .chatbot-answer-box .chatbot-refer {
    padding: 10px 15px;
    font-size: 12px;
  }

  #chatbot.mobile .chatbot-topic-list li {
    width: calc(50% - 4px);
    background-size: 25px;
  }

  #chatbot.mobile .chatbot-topic-list li:nth-child(even) {
    margin-left: 8px;
  }

  #chatbot.mobile .chatbot-topic-list li:nth-child(n+3) {
    margin-top: 8px;
  }

  #chatbot.mobile .chatbot-topic-list li a {
    height: 40px;
    padding: 6px 10px;
  }

  #chatbot.mobile .chatbot-topic-list li span {
    font-size: 12px;
  }
}